Apps_NodeRED/led_control.json
[{"id":"333635e8.5184ba","type":"inject","name":"ON","topic":"","payload":"1","payloadType":"string","repeat":"","crontab":"","once":false,"x":131,"y":132,"z":"52e00fe2.961688","wires":[["e1c53dda.fb5128"]]},{"id":"bce9ce07.e0c62","type":"inject","name":"OFF","topic":"","payload":"0","payloadType":"string","repeat":"","crontab":"","once":false,"x":132,"y":231,"z":"52e00fe2.961688","wires":[["e1c53dda.fb5128"]]},{"id":"e1c53dda.fb5128","type":"sensorian-led","name":"","x":333,"y":184,"z":"52e00fe2.961688","wires":[]}]
